---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <h2>Welcome to my cat-tastic website!</h2>
  <p>
    Cat ipsum dolor sit amet, purr sleep on your face hiss scratch everything. Sniff other cat's butt and hang jaw half open thereafter sleep on my human's head but leave fur on owners clothes. Rub against owner because grooming is happening soon scratch at the door then walk away yet hunt anything that moves. Swat at dog hide when guests come over. If it fits, i sits kitty power!. Lick master's hand at first then bite because im moody intrigued by the shower, so knock dish off table head butt owner's knee. Find empty spot in cupboard and sleep all day hunt anything that moves, so eat owner's food intrigued by the shower.
  </p>
  <p>
    Stare at ceiling throwup on your pillow. Lick face hiss at owner, pee in litter box hiss at owner hide when guests come over. Attack the dog then pretend it was an accident chew foot, for jump on human and sleep on her all night long be long in the bed, purr in the morning and then give a bite to every human around for not waking up request food, sunbathe attack the dog then pretend it was an accident. Cat playing a fiddle in a big red box. Jump on counter remove annoying owner from bed step on your keyboard, for spend all night ensuring people don't sleep sleep all day. Roll on the floor purring your whiskers off intrigued by the shower.
  </p>
</MainLayout>
