<footer>
  <p>&copy; {new Date().getFullYear()} Rohit Talwalkar. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  footer::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, transparent, #333);
  }
</style>
