---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Rohit Talwalkar</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <style>
    :root {
      font-family: system-ui, sans-serif;
    }
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
    }
    .main-container {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
    main {
      flex: 1;
      padding: 1rem;
      padding-bottom: 200px; /* To avoid content being hidden by the fixed footer and blur effect */
      min-width: 50vw;
      max-width: 1000px; /* New: Set max-width */
      margin: 0 auto; /* New: Center the main content */
      overflow-y: auto;
    }
    main::-webkit-scrollbar {
      display: none;
    }
    main {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  </style>
</head>
<body>
  <Header />
  <div class="main-container">
    <Sidebar />
    <main>
      <slot />
    </main>
  </div>
  <Footer />
</body>
</html>
